@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.card {
  height: 100vh;
}
.card__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  filter: blur(4px);
}
.card__bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.651);
}
.card__wrapper {
  position: relative;
  height: 92vh;
  padding: 10px 0px 10px 0px;
  z-index: 5;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 400px));
  grid-template-rows: repeat(3, 1fr);
  gap: 50px;
}
@media (max-width: 1200px) {
  .card__wrapper {
    grid-template-columns: repeat(3, minmax(200px, 400px));
    grid-template-rows: repeat(4, 1fr);
  }
}
@media (max-width: 721px) {
  .card__wrapper {
    gap: 25px;
  }
}
@media (max-width: 686px) {
  .card__wrapper {
    grid-template-columns: repeat(3, minmax(100px, 400px));
  }
}
@media (max-width: 480px) {
  .card__wrapper {
    height: 85vh;
  }
}
@media (max-width: 380px) {
  .card__wrapper {
    grid-template-columns: repeat(3, minmax(80px, 400px));
  }
}
.card__item {
  padding: 40px;
  border-radius: 20px 0px 20px 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(61, 100, 129, 0.829);
  transition: all 0.4s ease 0s;
}
@media (max-width: 480px) {
  .card__item {
    padding: 20px;
  }
}
.card__item:hover {
  background-color: rgba(60, 97, 128, 0.829);
  transform: scale(1.03);
}
.card__item._active {
  transform: rotate3d(0, 1, 0, 180deg);
}
.card__item._active .card__image {
  z-index: 6;
}
.card__item._active .card__image-question {
  opacity: 0;
}
.card__image {
  width: 73px;
  position: absolute;
  z-index: 4;
  transition: all 0.2s ease 0s;
}
@media (max-width: 1200px) {
  .card__image {
    width: 53px;
  }
}
@media (max-width: 480px) {
  .card__image {
    width: 40px;
  }
}
.card__image-question {
  position: absolute;
  z-index: 5;
  width: 85px;
  transition: all 0.2s ease 0s;
}
@media (max-width: 1200px) {
  .card__image-question {
    width: 60px;
  }
}
@media (max-width: 480px) {
  .card__image-question {
    width: 50px;
  }
}
.card__controls {
  display: flex;
  justify-content: end;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.card__tries-counter {
  z-index: 5;
  text-transform: uppercase;
  font-weight: 600;
}
@media (min-width: 1600px) {
  .card__tries-counter {
    position: relative;
    right: 0px;
    bottom: 0;
  }
}
@media (max-width: 1600px) {
  .card__tries-counter {
    position: fixed;
    width: 50%;
    right: 0px;
    bottom: 27px;
  }
}
@media (max-width: 768px) {
  .card__tries-counter {
    position: relative;
    width: 30%;
    right: 0px;
    bottom: 0px;
  }
}
@media (max-width: 480px) {
  .card__tries-counter {
    bottom: -11px;
  }
}
.card__button {
  font-weight: 600;
  z-index: 15;
  position: fixed;
  z-index: 15;
  border-radius: 0px 20px 0px 20px;
  bottom: 20px;
  right: 10px;
  margin-bottom: -10px;
  color: #fff;
  background-color: rgb(60, 146, 93);
  transition: background-color 0.3s ease 0s;
  padding: 15px 40px;
}
@media (max-width: 767.98px) {
  .card__button {
    font-size: calc(20px + 3.4 * ((100vw - 320px) / 1580));
  }
}
@media (min-width: 767.98px) {
  .card__button {
    font-size: calc(20px + 2 * (100vw / 1580));
  }
}
.card__button:hover {
  background-color: rgb(46, 112, 71);
}
@media (min-width: 1600px) {
  .card__button {
    position: relative;
    width: 30%;
    margin-bottom: 0px;
    float: right;
    right: 0px;
    bottom: 0;
  }
}
@media (max-width: 768px) {
  .card__button {
    position: relative;
    width: 70%;
    right: 0px;
    bottom: 0;
  }
}
@media (max-width: 480px) {
  .card__button {
    margin-top: 15px;
    padding: 25px 25px;
  }
}
@media (max-height: 420px) {
  .card__button {
    opacity: 0.4;
  }
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: rgb(0, 58, 63);
  color: rgb(228, 228, 228);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 767.98px) {
  body {
    font-size: calc(18px + 3.4 * ((100vw - 320px) / 1580));
  }
}
@media (min-width: 767.98px) {
  body {
    font-size: calc(18px + 2 * (100vw / 1580));
  }
}
body._lock {
  overflow: hidden;
}

._container {
  max-width: 1580px;
  margin: 0 auto;
  padding: 0px 10px;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.wrapper h1 {
  position: relative;
  z-index: 2;
}