//<ПЕРЕМЕННЫЕ>===================================================================================================
$minWidth: 320px;
$maxWidth: 1580;
$md1: $maxWidth+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$mainColor: rgb(255, 255, 255);
$secondColor: rgb(59, 82, 187);
$thirdColor: rgb(190, 74, 74);
$qatroColor: rgb(188, 190, 74);
//</ПЕРЕМЕННЫЕ>===================================================================================================
// background cover image
.ibg{
	position: relative;
	img{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		object-fit: cover;
	}
}
//========================================================================================================================================================
