.card {
	height: 100vh;

	&__bg {
		position: absolute;
		pointer-events: none;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		z-index: 0;
		filter: blur(4px);

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			z-index: 2;
			background-color: rgba(0, 0, 0, 0.651);
		}
	}

	&__wrapper {
		position: relative;
		height: 92vh;
		padding: 10px 0px 10px 0px;
		z-index: 5;
		display: grid;
		grid-template-columns: repeat(4, minmax(200px, 400px));
		grid-template-rows: repeat(3, 1fr);
		gap: 50px;

		@media (max-width: 1200px) {
			grid-template-columns: repeat(3, minmax(200px, 400px));
			grid-template-rows: repeat(4, 1fr);
		}

		@media (max-width: 721px) {
			gap: 25px;
		}

		@media (max-width: 686px) {
			grid-template-columns: repeat(3, minmax(100px, 400px));
		}

		@media (max-width: 480px) {
			height: 85vh;
		}

		@media (max-width: 380px) {
			grid-template-columns: repeat(3, minmax(80px, 400px));
		}
	}

	&__item {
		padding: 40px;
		border-radius: 20px 0px 20px 0px;
		position: relative;

		@media (max-width: 480px) {
			padding: 20px;
		}

		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		background-color: rgba(61, 100, 129, 0.829);
		transition: all .4s ease 0s;

		&:hover {
			background-color: rgba(60, 97, 128, 0.829);
			transform: scale(1.03);
		}

		&._active {
			transform: rotate3d(0, 1, 0, 180deg);
			background-color: rgba(43, 70, 92, 0.829);

			.card__image {
				z-index: 6;
				opacity: 1;
			}

			.card__image-question {
				opacity: 0;
			}
		}
		&.checked{
			pointer-events: none !important;
		}
	}

	&__image {
		opacity: 0;
		width: 73px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 4;
		transition: all .2s ease 0s;

		@media (max-width: 1200px) {
			width: 53px;
		}

		@media (max-width: 480px) {
			width: 40px;
		}
	}

	&__image-question {
		opacity: 1;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 5;
		width: 85px;
		transition: all .2s ease 0s;

		@media (max-width: 1200px) {
			width: 60px;
		}

		@media (max-width: 480px) {
			width: 50px;
		}
	}

	&__controls {
		display: flex;
		justify-content: end;
		align-items: center;
		column-gap: 15px;
	}

	&__tries-counter {
		z-index: 5;
		text-transform: uppercase;
		font-weight: 600;

		@media (min-width:1600px) {
			position: relative;
			//width: 30%;
			right: 0px;
			bottom: 0;
		}

		@media (max-width: 1600px) {
			position: fixed;
			width: 50%;
			right: 0px;
			bottom: 27px;
		}

		@media (max-width: 768px) {
			position: relative;
			width: 30%;
			right: 0px;
			bottom: 0px;
		}

		@media (max-width: 480px) {
			bottom: -11px;

		}
	}

	&__button {
		font-weight: 600;
		z-index: 15;
		position: fixed;
		z-index: 15;
		border-radius: 0px 20px 0px 20px;
		bottom: 20px;
		right: 10px;
		margin-bottom: -10px;
		@include adaptiveFont(20, 22);

		color: #fff;
		background-color: rgb(60, 146, 93);
		transition: background-color .3s ease 0s, transform .3s ease 0s;

		@media (min-width: 821px) {
			&:hover {
				background-color: rgb(46, 112, 71);
				transform: scale(1.02);
			}

			&:active {
				transform: scale(0.97);
			}
		}

		padding: 15px 40px;

		@media (min-width: 1600px) {
			position: relative;
			width: 30%;
			margin-bottom: 0px;
			float: right;
			right: 0px;
			bottom: 0;
		}

		@media (max-width: 768px) {
			position: relative;
			width: 70%;
			right: 0px;
			bottom: 0;
		}

		@media (max-width: 480px) {
			margin-top: 15px;
			padding: 25px 25px;
		}

		@media (max-height: 420px) {
			opacity: 0.5;
			transform: scale(0.8);
			right: -5px;
		}
	}
}

//========================================================================================================================================================

.alert-anim {
	&._active {
		opacity: 1;
		top: 100px;

		@media (max-height: 800px) {
			top: 50px;
		}
	}

	position: fixed;
	transition: all .5s ease 0s;
	left: 50%;
	top: -120px;
	opacity: 0;
	z-index: 10000;
	transform: translateX(-50%);
	font-weight: 600;
	font-size: 44px;
	color: rgb(74, 175, 43);
	text-shadow: 0px 0px 20px rgba(74, 175, 43, 0.582);
	box-shadow: 0px 0px 20px rgba(74, 175, 43, 0.356);
	padding: 20px;
	border-radius: 12px;
	border: 3px solid rgb(71, 167, 42);
}
//========================================================================================================================================================
.alert {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.3s cubic-bezier(0.75, -1, 0.21, -1) 0s;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.76);
	&._active {
		top: 0;
		left: 0;
	}
	&__game-start {
		&._active {
			opacity: 1;
			visibility: visible;
		}

		opacity: 0;
		visibility: hidden;

		span {
			@include adaptiveFont(24, 54);
			padding: 20px 100px;

			@media (max-width: 1441px) {
				padding: 20px 60px;
			}

			background-color: rgb(63, 148, 37);
			border-radius: 12px;
			white-space: nowrap;
			cursor: pointer;

			&:hover {
				background-color: rgb(51, 119, 30);
			}

			&:active {
				transform: translate(-50%, -50%) scale(0.97);
			}
		}
	}

	&__body {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		border: 4px solid rgb(82, 194, 47);
		border-radius: 16px;
		z-index: 101;
		width: 95vw;
		height: 95vh;

		span {
			font-weight: 600;
			z-index: 105;
			position: absolute;
			overflow: hidden;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			text-transform: uppercase;
			transition: all .4s ease 0s;
			box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.212);

			&:hover {
				box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.247) inset;

				@media (min-width:1439px) {
					p {
						color: rgb(51, 119, 30);
					}

					& .alert__dec {
						transform: rotate(90deg) translate(-270px, -737px);
						height: 1000px;
					}
				}
			}

			p {
				@media (min-width:1439px) {
					transition: all .5s ease 0s;
					display: inline-block;
					position: relative;
					z-index: 10000;
				}
			}
		}
	}

	&__successful {
		&._active {
			opacity: 1;
			visibility: visible;
		}

		opacity: 0;
		visibility: hidden;

		.alert__title {
			color: rgb(82, 194, 47);
			text-shadow: 0px 0px 20px rgb(82, 194, 47, 0.74);
		}

		span {
			@include adaptiveFont(24, 54);
			padding: 20px 100px;

			@media (max-width: 1600px) {
				padding: 20px 60px;
			}

			background-color: rgb(63, 148, 37);
			border-radius: 12px;
			white-space: wrap;
			text-align: center;
			cursor: pointer;

			&:hover {
				background-color: rgb(51, 119, 30);
			}

			&:active {
				transform: translate(-50%, -50%) scale(0.97);
			}
		}
	}

	&__game-over {
		&._active {
			opacity: 1;
			visibility: visible;
		}

		opacity: 0;
		visibility: hidden;

		.alert__title {
			color: rgb(196, 64, 64);
			text-shadow: 0px 0px 20px rgba(196, 64, 64, 0.74);
		}

		span {
			@include adaptiveFont(24, 54);
			padding: 20px 100px;

			@media (max-width: 1600px) {
				padding: 20px 60px;
			}

			background-color: rgb(63, 148, 37);
			border-radius: 12px;
			white-space: wrap;
			text-align: center;
			cursor: pointer;

			&:hover {
				background-color: rgb(51, 119, 30);
			}

			&:active {
				transform: translate(-50%, -50%) scale(0.97);
			}
		}
	}

	&__title {
		@include adaptiveFont(44, 74);
		font-weight: 600;
		text-align: center;
		padding: 100px 0px 0px 0px;

		@media (max-height:650px) {
			padding: 50px 0px 0px 0px;
		}
	}

	&__dec {
		@media (min-width:1439px) {
			transition: all 0.7s ease 0s;
			position: absolute;
			top: -170px;
			border-radius: 12px;
			left: -460px;
			width: 200px;
			transform: rotate(45deg);
			height: 700px;
			background-color: #fff;
		}
	}
}